<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Automation Exercise Regression Suite" parallel="tests" thread-count="3">
    <test name="Chrome Test">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="automationexercise.TestClass" ></class>
        </classes>
    </test>
    <test name="Firefox Test">
        <parameter name="browserName" value="firefox"></parameter>
        <classes>
            <class name="automationexercise.TestClass" ></class>
        </classes>
    </test>
    <test name="Edge Test">
        <parameter name="browserName" value="edge"></parameter>
        <classes>
            <class name="automationexercise.TestClass" ></class>
        </classes>
    </test>
</suite>
